USE [LUNA_GAMEDB]
GO
/****** Object:  StoredProcedure [dbo].[MP_STORAGE_ItemInfo_selector]    Script Date: 08/27/2020 13:13:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MP_STORAGE_ItemInfo_selector] 
(
	-- Add the parameters for the stored procedure here
	@USER_IDX			INT,
	@BEGIN_ITEM_DBIDX	INT,
	@BEGIN_ITEM_POSITION	INT,
	@LAST_ITEM_POSITION	INT
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 100
		0,
		A.ITEM_DBIDX,
		A.ITEM_IDX,
		A.ITEM_POSITION, 
		A.ITEM_QPOSITION,
		A.ITEM_DURABILITY,
		A.ITEM_PARAM,
		A.ITEM_SEAL,
		DATEDIFF(SECOND, GETDATE(), A.ITEM_ENDTIME), 
		A.ITEM_REMAINTIME,
		ISNULL( B.REINFORCE_STRENGTH, 0 ),
		ISNULL( B.REINFORCE_DEXTERITY, 0 ), 
		ISNULL( B.REINFORCE_VITALITY, 0 ),
		ISNULL( B.REINFORCE_INTELLIGENCE, 0 ), 
		ISNULL( B.REINFORCE_WISDOM, 0 ),
		ISNULL( B.REINFORCE_LIFE, 0 ),
		ISNULL( B.REINFORCE_MANA, 0 ), 
		ISNULL( B.REINFORCE_LIFE_RECOVERY, 0 ),
		ISNULL( B.REINFORCE_MANA_RECOVERY, 0 ), 
		ISNULL( B.REINFORCE_PHYSIC_ATTACK, 0 ),
		ISNULL( B.REINFORCE_PHYSIC_DEFENCE, 0 ), 
		ISNULL( B.REINFORCE_MAGIC_ATTACK, 0 ),
		ISNULL( B.REINFORCE_MAGIC_DEFENCE, 0 ), 
		ISNULL( B.REINFORCE_MOVE_SPEED, 0 ),
		ISNULL( B.REINFORCE_EVADE, 0 ), 
		ISNULL( B.REINFORCE_ACCURACY, 0 ),
		ISNULL( B.REINFORCE_CRITICAL_RATE, 0 ), 
		ISNULL( B.REINFORCE_CRITICAL_DAMAGE, 0 ),
		ISNULL( B.REINFORCE_MADEBY, '' ),
		ISNULL( B.MIX_STRENGTH, 0 ), 
		ISNULL( B.MIX_INTELLIGENCE, 0 ),
		ISNULL( B.MIX_DEXTERITY, 0 ),
		ISNULL( B.MIX_WISDOM, 0 ),
		ISNULL( B.MIX_VITALITY, 0 ), 
		ISNULL( B.MIX_MADEBY, '' ),
		ISNULL( B.ENCHANT_INDEX, 0 ),
		ISNULL( B.ENCHANT_LEVEL, 0 ), 
		ISNULL( B.ENCHANT_MADEBY, '' ),
		ISNULL( C.KEY1, 0 ),
		CAST( ROUND( ISNULL( C.VALUE1, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY2, 0 ),
		CAST( ROUND( ISNULL( C.VALUE2, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY3, 0 ),
		CAST( ROUND( ISNULL( C.VALUE3, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY4, 0 ),
		CAST( ROUND( ISNULL( C.VALUE4, 0 ), 3, 3 ) AS VARCHAR( 16 ) ),
		ISNULL( C.KEY5, 0 ),
		CAST( ROUND( ISNULL( C.VALUE5, 0 ), 3, 3 ) AS VARCHAR( 16 ) )
FROM	TB_ITEM A WITH (NOLOCK) LEFT OUTER JOIN
		TB_ITEM_DROP_OPTION C WITH (NOLOCK) ON 
		A.ITEM_DBIDX = C.ITEM_DBIDX LEFT OUTER JOIN
		TB_ITEM_OPTION2 B WITH (NOLOCK) ON A.ITEM_DBIDX = B.ITEM_DBIDX
	-- WHERE	(A.ITEM_DBIDX > @BEGIN_ITEM_DBIDX) AND (A.ITEM_PYOGUKIDX = @USER_IDX)
	where (A.ITEM_PYOGUKIDX = @USER_IDX) and (A.ITEM_POSITION > @BEGIN_ITEM_POSITION ) and (A.ITEM_POSITION < @LAST_ITEM_POSITION )
	-- ORDER BY A.ITEM_DBIDX
END
